<div class="portfolio-modal transition" [class.shown]="isShown" (click)="bgCloseModal($event)">
	<div class="modal-box">
		<div class="modal-close-container">
			<button (click)="closeModal()" class="modal-close"><fa-icon [icon]="faTimes"></fa-icon></button>
		</div>
		<markdown *ngIf="currentArticle" [disableSanitizer]="true">{{currentArticle.article[lang]}}</markdown>
		<div *ngIf="currentArticle" class="modal-bottom">
			<button (click)="closeModal()" class="form-submit modal-close-bottom">{{ locBtns.close[lang] }}</button>
			<a *ngIf="currentArticle.url.preview" href="{{currentArticle.url.preview}}" class="form-submit modal-preview-bottom" target="_blank" rel="noopener noreferrer" title="{{ locBtns.preview[lang] }}">{{ locBtns.preview[lang] }}</a>
			<a *ngIf="currentArticle.url.git" href="{{currentArticle.url.git}}" class="form-submit modal-preview-bottom" target="_blank" rel="noopener noreferrer" title="{{ locBtns.git[lang] }}">{{ locBtns.git[lang] }}</a>
		</div>
	</div>
</div>