<div class="menu-dim" [class.dimmer]="isMenuOpen"></div>
<div class="nav-bar" [class.sticky]="isSticky">
	<button class="burger-button" (click)="toggleMenu()">Menu</button>
	<div class="menu" [class.menu-open]="isMenuOpen">
		<div class="menu-box">
			<a href="{{cvLink}}" class="download-cv" target="_blank" rel="noopener noreferrer">CV PDF</a>
		</div>
		<div class="menu-box">
			<nav>
				<ul>
					<li><a href="#about" 		(click)="closeMenu()">{{loc.about[lang]}}</a></li>
					<li><a href="#skills" 		(click)="closeMenu()">{{loc.skills[lang]}}</a></li>
					<li><a href="#experience" 	(click)="closeMenu()">{{loc.career[lang]}}</a></li>
					<li><a href="#portfolio" 	(click)="closeMenu()">Portfolio</a></li>
					<li><a href="#contact" 		(click)="closeMenu()">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="menu-box">
			<div class="lang-switcher">
				<button (click)="switchLang()">{{loc.lang[lang]}}</button>
			</div>
		</div>
	</div>
</div>
