<!-- <p>Navbar works!</p> -->

<!-- <div className={`menu-dim ${menuOpen ? "dimmer" : ""}`} onClick={() => closeMenu()}></div> -->

	<!-- <button onClick={() => openMenu()} className="burger-button">Menu</button> -->
	<div class="menu">
		<div class="menu-box">
			<a href="" class="download-cv" target="_blank" rel="noopener noreferrer">CV PDF</a>
		</div>
		<div class="menu-box">
			<nav>
				<ul>
					<li><a href="#about" 		>{{loc.about[lang]}}</a></li>
					<li><a href="#skills" 		>{{loc.skills[lang]}}</a></li>
					<li><a href="#experience" 	>{{loc.career[lang]}}</a></li>
					<li><a href="#portfolio" 	>Portfolio</a></li>
					<li><a href="#contact" 		>Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="menu-box">
			<div class="lang-switcher">
				<button (click)="switchLang()">{{loc.lang[lang]}}</button>
			</div>
		</div>
	</div>
