<div class="menu-dim" [class.dimmer]="isMenuOpen"></div>
<div class="nav-bar" [class.sticky]="isSticky">
	<button class="burger-button" (click)="toggleMenu()">Menu</button>
	<div class="menu" [class.menu-open]="isMenuOpen">
		<div class="menu-box">
			<a [href]="cvLink" class="download-cv" target="_blank" rel="noopener noreferrer">CV PDF</a>
		</div>
		<div class="menu-box">
			<nav>
				<ul>
					<li><a  (click)="navTo('about'); 		closeMenu()"> {{loc.about[lang]}}	</a></li>
					<li><a  (click)="navTo('skills'); 		closeMenu()"> {{loc.skills[lang]}}	</a></li>
					<li><a  (click)="navTo('experience'); 	closeMenu()"> {{loc.career[lang]}}	</a></li>
					<li><a  (click)="navTo('portfolio'); 	closeMenu()"> Portfolio 			</a></li>
					<li><a  (click)="navTo('contact'); 		closeMenu()"> Contact 				</a></li>
				</ul>
			</nav>
		</div>
		<div class="menu-box">
			<div class="lang-switcher">
				<button (click)="switchLang()">{{loc.lang[lang]}}</button>
			</div>
		</div>
	</div>
</div>
