<div class="wrapper">
	<h2>{{loc[lang]}}</h2>
	<div class="skills-flex">
		<!--? Skill iteration -->
		<div class="skill-entry" *ngFor="let skill of skills; index as i" data-aos="zoom-in" [attr.data-aos-delay]="i * 100" data-aos-anchor="#skills">
			<img src={{getImg(skill.icon)}} alt="{{skill.title}}" class="skill-icon"/>
			<div class="skill-tooltip-bloc">
				<span class="skill-tooltip">{{skill.title}}</span>
			</div>
			<div class="sub-skills" *ngIf="skill.subSkills">
				<!--? Sub-skill iteration -->
				<div class="skill-sub-entry" *ngFor="let subSkill of skill.subSkills">
					<img src={{getImg(subSkill.icon)}} alt="{{subSkill.title}}" class="skill-icon-sub"/>
					<div class="skill-sub-tooltip-bloc">
						<span class="skill-tooltip">{{subSkill.title}}</span>
					</div>
				</div>
				<!--? End of sub-skill iteration -->
			</div>
		</div>
		<!--? End of skill iteration -->
	</div>
</div>