<div class="portfolio-modal transition" [class.shown]="isShown" (click)="bgCloseModal($event)">
  <div class="modal-box">
    <div class="modal-close-container">
      <button (click)="closeModal()" class="modal-close"><fa-icon [icon]="faTimes"></fa-icon></button>
    </div>

    @if (currentArticle) {
      @for (block of articleBlocks; track i; let i = $index) {
        @if (typeof block === 'string') {
          <markdown appMarkdownModalLink [disableSanitizer]="true">{{block}}</markdown>
        }
        @if (typeof block === 'object' && block !== null && 'gallery' in block) {
          <app-modal-gallery [gallery]="currentArticle.galleries[block.gallery]" [artId]="currentArticle.id"></app-modal-gallery>
        }
        @if (typeof block === 'object' && block !== null && 'video' in block) {
          <div class="modal-video-container">
            <iframe [src]="block.video | safeUrl" frameborder="0" allowfullscreen></iframe>
          </div>
        }
      }
    }


    @if (currentArticle) {
      <div class="modal-bottom">
        <button (click)="closeModal()" class="form-submit modal-close-bottom">{{ locBtns.close[lang] }}</button>
        @if (currentArticle.url.preview) {
          <a href="{{currentArticle.url.preview}}" class="form-submit modal-preview-bottom" target="_blank" rel="noopener noreferrer" title="{{ locBtns.preview[lang] }}">{{ locBtns.preview[lang] }}</a>
        }
        @if (currentArticle.url.git) {
          <a href="{{currentArticle.url.git}}" class="form-submit modal-preview-bottom" target="_blank" rel="noopener noreferrer" title="{{ locBtns.git[lang] }}">{{ locBtns.git[lang] }}</a>
        }
      </div>
    }
  </div>
</div>
