<div class="wrapper">
  <h2>{{locTitle[lang]}}</h2>
  <div class="timeline">
    @for (entry of parcours; track entry) {
      <div class="timeline-entry" data-aos="fade-up">
        <div class="work-category">
          <fa-icon [icon]=getIcon(entry.type)></fa-icon>
        </div>
        <div class="work-place">
          <h3>{{entry.entreprise}}</h3>
          @if (entry.place) {
            <div class="location">
              {{entry.place}} <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            </div>
          }
        </div>
        <div class="work-meta">
          <div class="title">{{entry.title[lang]}}</div>
          <div class="time">{{entry.time}}</div>
        </div>
        <div class="desc" appMarkdownModalLink>
          <markdown [data]="entry.desc[lang]"></markdown>
          @if (entry.list) {
            <ul>
              @for (item of entry.list; track item) {
                <li>{{item}}</li>
              }
            </ul>
          }
        </div>
      </div>
    }
  </div>
</div>
